.production-view {
  display: none;

  .primary-title {
    @include mixinCenterX();
    bottom: 330px;
  }
  .production-list-container {
    @include position(absolute, null 0 48px 0);
    height: 230px;
  }
}