
div.bttn-glass
  div.bttn-glass-inner
    div.inner-wrap
      div.reflection-top
      div.reflection-bottom
      div.shine.shine-1
      div.shine.shine-2
      div.shine.shine-3
      div.shine.shine-4