

// Colours
// #0f1011 - body background colour
// #5d5d5d - bttn-glass base

$eggs: #fc0;
$darkestColour: #0F1011;


// Font Colours
$primaryFontColour: #707070;
$titleColour: rgba($primaryFontColour, 0.5);