doctype html
html(lang='en')
 head
   title DkSubconscious Music Player &amp; Production
   meta(name="viewport" content="width=device-width, initial-scale=1.0")
   link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous")
   script(src='http://cdn.zingchart.com/zingchart.min.js')
 body
    .base-block-top
    .base-block-bottom

    .base.landing
      #WelcomeButton.welcome-bttn
        .glass-wrapper
        include components/bttns/glass

      #TopContainer.vinyl-container
        include components/molecule/options-menu
        include components/organism/music-player
        include components/organism/production-view

      #BottomContainer.bottom-section
        include components/organism/equalizer
