div.container
  div.chart-wrapper
    div#chart.chart

  div.player
    div#PlayPause.play-pause.fas.fa-play
    div#Volume.volume
    //- button#VolMax max
    //- button#VolHalf 50%
    //- button#VolMin min
    //- button#VolPlus PLUS
    //- button#VolMinus MINUS