.container
  include ../atom/lp-arm
  include ../molecule/primary-volume
  .show-list
    #ShowList.bttn.light.hover-retain.active.fas.fa-list-ul

  .smooth-shape.bottom.dark

  include ../molecule/graphic-equalizer
  //- .graphic-equalizer
  //-   #chart.chart

  .player-controls
    #RewindTrack.bttn.light.active.rewind.fas.fa-fast-forward
    #PlayPause.bttn.light.active.play-pause.fas.fa-play
    #NextTrack.bttn.light.active.forward.fas.fa-fast-forward
    //- button#VolMax max
    //- button#VolHalf 50%
    //- button#VolMin min
    //- button#VolPlus PLUS
    //- button#VolMinus MINUS