#MusicPlayer.music-player
  h1.primary-title Music Player
  .smooth-shape.top.light
  include ../molecule/track-details
  include ../molecule/vinyl-lp
  #GraphicEqualizerTop.graphic-equalizer.subtle-full