#ProductionView.production-view
  h1.primary-title Production View
  #ProductionList.production-list-container
    include ../molecule/production-item
    include ../molecule/production-item
    include ../molecule/production-item
    include ../molecule/production-item
    include ../molecule/add-production-item