.lp-arm-base
  .arm-base.bttn-drag-base
  #TrackTimeline.arm-pivot
    .arm
      svg#Layer_1(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 41 226")
        style .lp-arm-color-1{fill:#fff}.lp-arm-color-2{fill:#b5b5b5}.lp-arm-color-3{fill:#3f3f3f}.lp-arm-color-4{fill:#a8a3a3}
        path(class="lp-arm-color-4" d="M14 40h11v19H14z")
        path(transform="rotate(18.185 25.174 23.028)" class="lp-arm-color-1" d="M15.7 2h19v42h-19z")
        path(class="lp-arm-color-1" d="M16 59h7v115h-7z")
        path(class="lp-arm-color-4" d="M13 180h13v19H13zM26 180H13l2.4-6h8.2z")
        circle(cx="19.5" cy="210.5" r="15.5" fill="#d6d6d6")
        circle(class="lp-arm-color-1" cx="19.5" cy="210.5" r="9.5")
        path(transform="rotate(18.185 7.321 26.11)" class="lp-arm-color-1" d="M.8 24.6h13v3H.8z")
        path(transform="rotate(18.185 23.857 11.017)" class="lp-arm-color-3" d="M22.4 4h3v14h-3z")
        path(transform="rotate(18.185 28.607 12.577)" class="lp-arm-color-3" d="M27.1 5.6h3v14h-3z")
        path(transform="rotate(18.185 33.357 14.138)" class="lp-arm-color-3" d="M31.9 7.1h3v14h-3z")